<div class="alert alert-danger" *ngIf="error">{{ error }}</div>
<form class="form" #f="ngForm" (ngSubmit)="login(f.value)">
    <div class="form-group">
        <label for="">Email</label>
        <input 
            type="email" 
            id="email" 
            name="email" 
            class="form-control" 
            required
            #email="ngModel"
            [(ngModel)]="credentials.email"
        />
        <small class="text-danger" *ngIf="email.touched && email.invalid">
            Email is required.
        </small>
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input 
            type="password" 
            id="password" 
            name="password" 
            class="form-control" 
            required
            #password="ngModel"
            [(ngModel)]="credentials.password"
        />
        <small class="text-danger" *ngIf="password.touched && password.invalid">
            Password is required.
        </small>
    </div>
    <div class="text-center">
        <button type="submit" [disabled]="f.invalid" class="btn btn-success btn-login">Login</button>
    </div>
</form>