<form method="post" class="form" >
  <div class="form-group">
      <label for="">Email</label>
      <input type="email" id="email" name="email" class="form-control" />
  </div>
  <div class="form-group">
      <label for="">Password</label>
      <input type="password" id="password" name="password" class="form-control"  />

  </div>
  <div class="form-group">
      <label for="">Confirm Password</label>
      <input type="password" id="confirm_password" name="confirm_password" class="form-control"  />
    
  </div>
  <div class="form-group">
      <label for="">Company Name</label>
      <input type="text" id="company_name" name="company_name" class="form-control" />
  </div>
  <div class="form-group">
      <label for="">First Name</label>
      <input type="text" id="first_name" name="first_name" class="form-control" />
      
  </div>
  <div class="form-group">
      <label for="">Last Name</label>
      <input type="text" id="last_name" name="last_name" class="form-control"  />
  </div>
  <div class="text-center">
      <button type="submit" class="btn btn-success btn-register">Register</button>
  </div>
</form>