.product-box {
    margin-bottom: 1.5em;
    padding-bottom: 1em;
    cursor: pointer;
}
div.product-box{
    border-bottom: 2px solid #ccc;
}
.product-box-separator {
    border-bottom: 2px solid #ccc;
}

.product-label {
    font-weight: bold;
    text-align:right;
}

.product-price {
    font-weight: bold;
    font-size: 13pt;
}