<div class="page-subheader">
    <span>Shipping</span>
</div>

<div class="row justify-content-md-center">
    <div class="col-lg-8">
        <p class="alert alert-info">All fields with asterisk (*) are required.</p>
        
        <form class="form" #f="ngForm" (ngSubmit)="processOrder(f.value)">
            <div class="form-group">
                <label for="shippingName">Name <span class="text-danger">*</span></label>
                <input 
                    required
                    type="text" 
                    id="shippingName" 
                    name="shipping_name" 
                    class="form-control"
                    #shippingName="ngModel"
                    [(ngModel)]="form.shippingName" 
                />
                <small class="text-danger" *ngIf="shippingName.touched">
                    <span *ngIf="shippingName.invalid">Shipping name is required.</span>
                </small>
            </div>
            <div class="form-group">
                <label for="shippingAddress1">Address 1 <span class="text-danger">*</span></label>
                <input 
                    required
                    maxlength="35"

                    type="text" 
                    id="shippingAddress1" 
                    name="shipping_address1" 
                    class="form-control" 
                    #shippingAddress1="ngModel"
                    [(ngModel)]="form.shippingAddress1" 
                    
                />
                <small class="text-danger" *ngIf="shippingAddress1.touched && shippingAddress1.invalid">
                    <span *ngIf="shippingAddress1.errors.required">Shipping Address 1 is required.</span>
                    <span *ngIf="shippingAddress1.errors.minlength">Minimum is 3 characters.</span>
                    <span *ngIf="shippingAddress1.errors.maxlength">Max characters is up to 35 characters.</span>
                </small>
            </div>
            <div class="form-group">
                <label for="shippingAddress2">Address 2</label>
                <input 
                    type="text" 
                    id="shippingAddress2" 
                    name="shipping_address2" 
                    class="form-control" 
                    #shippingAddress2="ngModel"
                    [(ngModel)]="form.shippingAddress2"
                />
            </div>
            <div class="form-group">
                <label for="shippingAddress3">Address 3</label>
                <input 
                    type="text" 
                    id="shippingAddress3" 
                    name="shipping_address3" 
                    class="form-control"
                    #shippingAddress3="ngModel"
                    [(ngModel)]="form.shippingAddress3"   
                />
            </div>
            <div class="form-group">
                <label for="city">City <span class="text-danger">*</span></label>
                <input 
                    required
                    maxlength="35"
                    type="text" 
                    id="city" 
                    name="shipping_city" 
                    class="form-control" 
                    #shippingCity="ngModel"
                    [(ngModel)]="form.shippingCity" 
                />
                <small class="text-danger" *ngIf="shippingCity.touched">
                    <span *ngIf="shippingCity.invalid">Shipping City is required.</span>
                </small>
             </div>
            <div class="form-group">
                <label for="state">State <span class="text-danger">*</span></label>
                <input 
                    required
                    maxlength="35"
                    type="text"
                    id="state" 
                    name="shipping_state" 
                    class="form-control"
                    #shippingState="ngModel"
                    [(ngModel)]="form.shippingState" 
                />
                <small class="text-danger" *ngIf="shippingState.touched">
                    <span *ngIf="shippingState.invalid">Shipping state is required.</span>
                </small>
            </div>
            <div class="form-group">
                <label for="country">Country <span class="text-danger">*</span></label>
                <input 
                    required
                    maxlength="35"
                    type="text" 
                    id="country" 
                    name="shipping_country" 
                    class="form-control"
                    #shippingCountry="ngModel"
                    [(ngModel)]="form.shippingCountry"  
                />
                <small class="text-danger" *ngIf="shippingCountry.touched">
                    <span *ngIf="shippingCountry.invalid">Shipping country is required.</span>
                </small>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="custom-control custom-radio mb-3">
                        <input 
                            type="radio" 
                            id="groundRadio" 
                            name="shipping_method" 
                            class="custom-control-input shippingMethod" 
                            value="Ground"
                         
                            checked 
                            #shippingMethod="ngModel"
                            [(ngModel)]="form.shippingMethod"
                        />
                        <label class="custom-control-label" for="groundRadio"><span class="shipping-type">Ground Shipping</span></label>
                    </div>
                </div>
                <div class="col-md-6">$ {{ shippingRates?.Ground }}</div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="custom-control custom-radio mb-3">
                        <input 
                            type="radio" 
                            id="expeditedRadio" 
                            name="shipping_method" 
                            class="custom-control-input shippingMethod" 
                            value="Expedited"
                            #shippingMethod="ngModel"
                            [(ngModel)]="form.shippingMethod"
                        />
                        <label class="custom-control-label" for="expeditedRadio"><span class="shipping-type">Expedited Shipping</span></label>
                    </div>
                </div>
                <div class="col-md-6">$  {{ shippingRates?.Expedited }}</div>
            </div>

   

            <div class="text-center">
                <button type="submit" [disabled]="f.invalid" class="btn btn-success btn-shipping">Continue</button>
            </div>
        </form> 
    </div>



