<div class="row mb-4">
  <div class="col-md-8">
      <strong>Order id#: 00001 </strong>
  </div>
  <div class="col-md-4">
      <span class="order-ship-to-label">Ship To:</span>
      <span class="order-customer-name">Paul Alcabasa</span>
      <span class="order-address"> Address 1 Address 2 Adress 3</span>
      <span class="order-address">City</span>
      <span class="order-address">State</span>
      <span class="order-address">Country</span>
  </div>
</div>

<div class="cart-header mobile-hidden">
  <div class="row">
      <div class="col-md-3"><span class="pl-2">Product</span></div>
      <div class="col-md-3"></div>
      <div class="col-md-3 text-right pr-5">Quantity</div>
      <div class="col-md-3 text-right cart-price">Price</div>
  </div>
</div>

<div class="cart-box" >
  <div class="row">
      <div class="col-md-3">
          <img class="img-fluid" src="" alt=""/>
      </div>
      <div class="col-md-3">
          <h6 class="mb-3">PRODUCT NAME</h6>
          <p class="mb-2">DESC</p>
          <span class="cart-product-price">$ UNIT PRICE each</span>
      </div>
      <div class="col-md-3 text-right pr-5">QTY</div>
      <div class="col-md-3 text-right pr-5">PRICE</div>
  </div>
</div>



<div class="total">
  <div class="row">
      <div class="ml-md-auto col-md-4 pr-5">
          <div class="row mb-3">
              <div class="col-md-6 col-sm-12">Subtotal</div>
              <div class="col-md-6 col-sm-12 currency-label">$ 150.00</div>
          </div>
          <div class="row mb-5">
              <div class="col-md-6 col-sm-12">Shipping</div>
              <div class="col-md-6 col-sm-12 currency-label">$ 40.00</div>
          </div>
          <div class="row mb-5 font-weight-bold text-primary">
              <div class="col-md-6">Grand Total</div>
              <div class="col-md-6 currency-label">$ 20.00</div>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <a routerLink="/" class="btn btn-success btn-continue-shopping btn-block">Continue Shopping</a>
              </div>
          </div>
      </div>
  </div>
 
</div>